@model IEnumerable<GroupWork.Models.User>

@{
    ViewBag.Title = "User";
}
<head>
    <link href="@Url.Content("~/Content/User.css")" rel="stylesheet" type="text/css" />
</head>
<body onload="myFunction()" style="margin:0;">
<div class="svg-container" id="svg-container">

    <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
        <circle cx="170" cy="170" r="160" stroke="#4666FF" />
        <circle cx="170" cy="170" r="135" stroke="#404041" />
        <circle cx="170" cy="170" r="110" stroke="#4666FF" />
        <circle cx="170" cy="170" r="85" stroke="#404041" />
    </svg>

</div>

<div id="content">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="userList col-lg-3 col-md-4 col-sm-6" onclick="window.location.href='/Welcome/Index/'+@Html.DisplayFor(modelItem => item.ID)">
                    <img class="profileImage" src="https://avatars.dicebear.com/v2/identicon/: + @Html.DisplayFor(modelItem => item.UserName) +.svg" alt="Alternate Text" />
                    <p id="userName">@Html.DisplayFor(modelItem => item.UserName)</p>
                </div>
            }
        </div>
    </div>

    <button class="createNewButton">
        @Html.ActionLink("Create New", "Create")
    </button>

</div>

</body>

<script>
    var myVar;
    
    function myFunction() {
        myVar = setTimeout(showPage, 500);
    }

    function showPage() {
        document.getElementById("svg-container").style.display = "none";
        document.getElementById("content").style.display = "block";
        document.getElementById("navbar").style.display = "none";
    }
</script>