@model IEnumerable<GroupWork.Models.Record>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Weight Tracking App</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Track your weight with this app</h2>

        <p>
            
        </p>
    </div>
</div>